<div class="search-users">
  <i class="search-icon fa fa-search"></i>
  <input #input class="search-term form-control" type="search" placeholder="Search"
         (input)="term.next(input.value)">
</div>
