@import "variables";

.search-users {
  position: relative;
  background-color: $color-2;

  .search-icon {
    position: absolute;
    margin-left: 0.6rem;
    margin-top: 0.6rem;
    color: $color-4;
  }

  .search-term {
    padding-left: 2rem;
  }
}
