@import "variables";
@import "mixins";

.contact-view {
  position: relative;
  height: 100%;
  padding: 15px;

  .contact-header {
    height: $contact-header-height;

    .contact-pic {
      position: relative;
      background-color: lighten($color-4, 9%);
      height: 80px;
      width: 80px;
      font-size: 1.8rem;
      color: $color-3;
    }
  }

  .contact-body {
    position: relative;
    height: calc(100% - #{$contact-header-height + $contact-footer-height});
    @include touch-overflow-scrolling();
    overflow-x: hidden;
    overflow-y: auto;
  }

  .contact-footer {
    height: $contact-footer-height;
  }
}
