<ng-container *mobxAutorun>
  <div class="contact-view fade-in" [class.readonly]="selectedContact?.isSaved">
    <header class="contact-header">

      <div class="row h-100 align-items-center" *ngIf="selectedContact">
        <div class="col-12 col-md-3 d-none d-md-block">

          <div class="contact-pic rounded-circle float-md-right">
            <span class="d-flex h-100 justify-content-center align-items-center">
              <span class="contact-nickname">{{ selectedContact.abbrName || 'NN' | uppercase }}</span>
            </span>
          </div>

        </div>
        <div class="col-12 col-md-9">
          <div class="contact-info mw-100">

            <h1 class="contact-name text-truncate mb-0">{{ selectedContact.fullName || 'No Name' }}</h1>
            <div class="contact-country text-truncate text-muted" *ngIf="selectedContact.country">
              {{ countryListService.getName(selectedContact.country) }} ({{ selectedContact.country }})
            </div>

          </div>
        </div>
      </div>

    </header>
    <section class="contact-body">

      <gig-contact-form *ngIf="selectedContact;else noSelected"></gig-contact-form>

      <ng-template #noSelected>
        <div class="d-flex h-100 justify-content-center align-items-center">
          <span class="text-muted">No Contact Selected</span>
        </div>
      </ng-template>

    </section>
    <footer class="contact-footer pt-3">

      <div class="d-inline float-left">
        <button type="button" class="btn btn-primary btn-add" (click)="addContact()">
          <i class="fa fa-plus"></i>
        </button>
      </div>

      <div class="d-inline float-right contact-actions" *ngIf="selectedContact">
        <button type="button" class="btn btn-outline-primary btn-edit"
                *ngIf="selectedContact.isSaved" (click)="editContact()">
          <i class="fa fa-edit"></i> <span class="d-none d-sm-inline">Edit</span>
        </button>

        <button type="button" class="btn btn-outline-success btn-save"
                [disabled]="formComponent?.contactForm.invalid"
                *ngIf="selectedContact.isEditing" (click)="saveContact()">
          <i class="fa fa-check-circle"></i> <span class="d-none d-sm-inline">Done</span>
        </button>

        <button type="button" class="btn btn-outline-danger btn-remove"
                *ngIf="selectedContact.isEditing" (click)="removeContact()">
          <i class="fa fa-remove fa"></i> <span class="d-none d-sm-inline">Remove</span>
        </button>

        <button type="button" class="btn btn-outline-secondary btn-mailto"
                *ngIf="selectedContact.email" (click)="mailContact()">
          <i class="fa fa-envelope-o"></i>
        </button>
      </div>

    </footer>
  </div>
</ng-container>
