<ul class="list-group list-group-flush contact-list fade-in" *mobxAutorun>
  <li class="list-group-item d-flex justify-content-between"
      *ngFor="let contact of contacts" (click)="select(contact)" [class.active]="contact.selected">
    <span class="list-name text-truncate pr-2">
      {{ contact.firstName || 'No' }} <span class="font-weight-bold">{{ contact.lastName || 'Name' }}</span>
    </span>
    <span class="list-icon">
      <i class="fa fa-pencil" *ngIf="contact.state === 'editing';else abbr"></i>
      <ng-template #abbr>{{ contact.abbrName | uppercase }}</ng-template>
    </span>
  </li>
</ul>
