@import "variables";

.contact-list {
  margin-bottom: 0.2rem;

  .list-group-item {
    background-color: transparent;
    border-color: rgba($input-border-color, 0.1);
    cursor: pointer;

    &.active {
      background-color: rgba($color-2, 0.6);
      pointer-events: none;
      transition: all .3s linear;
    }
  }

  .list-icon {
    opacity: .7;
  }
}
