@import "variables";

@keyframes blink {
	from, 50%, to {
		opacity: 1;
	}

	25%, 75% {
		opacity: 0;
	}
}

.blink-animation {
	animation: blink 1s;
	animation-iteration-count: 2;
	animation-fill-mode: both;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fade-in {
	animation: fade-in 150ms linear 10ms;
	animation-fill-mode: both;
}

.fade-in-delay {
  @extend .fade-in;
	animation-delay: 150ms;
}
