// Google font
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

$font-source-sans-pro: 'Source Sans Pro', sans-serif;

@mixin font-source-sans-pro() {
  font-family: $font-source-sans-pro;
}
