// color palette
$color-1: #1e282d !default;
$color-2: #263238 !default;
$color-3: #617d8b !default;
$color-4: #c0c0c0 !default;
$color-5: #cfd8dc !default;
$color-6: #e4e5e6 !default;
$color-7: #eceff1 !default;
$color-8: #ffffff !default;
$color-9: #21a8d8 !default;
$color-10: #f86c6b !default;
$color-11: #f8cb01 !default;
$color-12: #64c2de !default;
$color-13: #4ebd74 !default;

// sidebar
$sidebar-size: 600px !default;
$sidebar-size-breakpoints: (xxl: 1480px) !default;
$sidebar-bg: $color-1 !default;
$sidebar-color: $color-3 !default;
$sidebar-header-bg: $color-1 !default;
$sidebar-header-height: 60px !default;

// contact
$contact-header-height: 140px;
$contact-footer-height: 60px;
$contact-bg-color: $color-8 !default;


// bootstrap variables
$secondary: $color-3 !default;
$blue: $color-9 !default;
$primary: $color-9 !default;
$secondary: $color-3 !default;
$success: $color-13 !default;
$info: $color-12 !default;
$warning: $color-11 !default;
$danger: $color-10 !default;
$light: $color-6 !default;
$dark: $color-2 !default;
$body-bg: $color-6 !default;
$body-color: $color-2 !default;
$enable-rounded: true !default;
$input-border-color: $color-3 !default;
$input-focus-border-color: $color-3 !default;
$input-focus-box-shadow: none;
$input-color: $color-2 !default;
$input-placeholder-color: $color-4 !default;
