@import "variables";
@import "mixins";

.wrapper {
  height: 100%;
}

.sidebar {
  background-color: $sidebar-bg;
  color: $sidebar-color;
  padding: 0;
  user-select: none;

  @include media-breakpoint-up(xxl, $sidebar-size-breakpoints) {
    flex: 0 1 $sidebar-size;
  }

  .sidebar-header {
    background-color: $sidebar-header-bg;
    border-bottom: 1px solid rgba($input-border-color, 0.3);
    height: $sidebar-header-height;
    padding: 0.7rem;
  }

  .sidebar-body {
    height: calc(100% - #{$sidebar-header-height});
    @include touch-overflow-scrolling();
  }
}
