<div class="wrapper container-fluid">
  <div class="row h-100">
    <aside class="sidebar col-5 col-md-4">
      <header class="sidebar-header">
        <gig-contact-search></gig-contact-search>
      </header>
      <section class="sidebar-body">
        <gig-contact-list></gig-contact-list>
      </section>
    </aside>
    <main class="content col-7 col-md-8">
      <gig-contact-view></gig-contact-view>
    </main>
  </div>
</div>
