<form class="contact-form needs-validation" novalidate *mobxAutorun
      [formGroup]="contactForm" [class.editing]="selectedContact?.isEditing">

  <div class="form-group row border-bottom">
    <label for="first-name" class="col-md-3 col-form-label text-md-right">First name</label>
    <div class="col-md-9">
      <input #firstName id="first-name" type="text" class="form-control" formControlName="firstName">
      <div class="invalid-tooltip" [class.d-block]="contactForm.get('firstName').invalid && contactForm.get('firstName').touched">
        Please provide a valid first name.
      </div>
    </div>
  </div>

  <div class="form-group row border-bottom">
    <label for="last-name" class="col-md-3 col-form-label text-md-right">Last name</label>
    <div class="col-md-9">
      <input id="last-name" type="email" class="form-control" formControlName="lastName">
      <div class="invalid-tooltip" [class.d-block]="contactForm.get('lastName').invalid && contactForm.get('lastName').touched">
        Please provide a valid last name.
      </div>
    </div>
  </div>

  <div class="form-group row border-bottom">
    <label for="email" class="col-md-3 col-form-label text-md-right">Email</label>
    <div class="col-md-9">
      <input id="email" type="email" class="form-control" formControlName="email">
      <div class="invalid-tooltip" [class.d-block]="contactForm.get('email').invalid && contactForm.get('email').touched">
        Please provide a valid email.
      </div>
    </div>
  </div>

  <div class="form-group row border-bottom">
    <label for="country" class="col-md-3 col-form-label text-md-right">Country</label>
    <div class="col-md-9">
      <select id="country" class="form-control" formControlName="country">
        <option *ngFor="let country of countryListService.allCountries" [value]="country.code">{{ country.name }}</option>
      </select>
      <div class="invalid-tooltip" [class.d-block]="contactForm.get('country').invalid && contactForm.get('country').touched">
        Please provide a valid country.
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="note" class="col-md-3 col-form-label text-md-right">Note</label>
    <div class="col-md-9">
      <textarea id="note" rows="2" class="form-control" formControlName="note"></textarea>
    </div>
  </div>

</form>
