@import "variables";

.contact-form {
  position: relative;

  &.editing {
    .form-control {
      color: $color-1;
    }

    .border-bottom {
      border-bottom: 1px solid $color-4 !important;
    }
  }

  .form-group {
    margin-bottom: 0.5rem;
  }

  .form-control {
    background-color: transparent;
    border: 0;
    color: $color-2;
    padding-left: 0;
  }

  .col-form-label {
    color: $color-3;
    margin-top: -1px;
  }

  select#country {
    margin-left: -7px;
  }
}
